html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}
header{
  background: $color__white;
  z-index: 1;
  position: absolute;
  width:27em;
  border-bottom:1px gray solid;
  height: 5em;
  @include box-shadow( 10px 10px 5px rgba(0, 0, 0, 0.21) );
}

div#title h1{
    float:left;
    padding-left:1.5em;
    background:url('icons/logo.svg') no-repeat;
    /*width: calc(100% - 2.5em);*/
    margin: 0.1em 0.3em 0.1em 1em;
}
.favorite{
  display:none;
}

div#title-login {
    float:right;
}
div#title-login h1{
    float:left;
}
/*
    Menu elements
*/

.title-box {
  background: $color__grey;
    padding: 0.7em 0 0.7em 0.7em;
    border: 1px;
    float: left;
    width: 100%;
    height:3em;
}

.title-box h2{
    margin:auto;
    margin-bottom:0;
    margin-top:0;
}

nav{
  z-index:1;
  background:white;
  position: fixed;
  width:27em;
  top:5em;
  height:calc(100vh - 5em);
  overflow: auto;
  @include box-shadow( 10px 10px 5px rgba(0, 0, 0, 0.21) );
}
nav ul{
    margin: 0 0 0 -2.5em;
}
.gmnoprint, .gm-svpc{
  @include box-shadow(10px 10px 5px rgba(0, 0, 0, 0.21) !important);
}

#menu-list > ul{
    height:80vh;
}
.parent{
    padding:0;
}

nav li{
    list-style:none;
    padding:1em;
}

nav ul li ul{
    margin-left:-2.8em;
}
/*Child menu element spesific*/
/*nav ul li ul*/
.sub-item{
    display:none;
    padding:1em;
    overflow: auto;
    height: calc(100vh - 5em - 6em);
}

/*On toggle*/
header{
  .toggle{
    height:100%;
    nav{
      display:block;
      overflow:auto;
      max-height:85%;
    }
  }
}

.toggle{
    display:block;
}

/*Route planner*/
.route-element{
  clear:both;
  float:left;
  border-bottom:1px black;
  margin:0.5em 0 0 0;
  width:100%;
  img{
    max-width:30%;
    float:left;
  }
  span{
    padding:0 0.5em 0 0.5em;
    float:left;
    max-width:80%;
  }
}


/*
* Route options
*/
.route-options ul li{
  padding: 0.5em 0 0.5em 0;
}
#chargers-nearby{
  overflow-y:auto;
}

/*
    General
*/
.border{
  border-bottom:1px gray solid;
}

#right-panel{
  background:white;
}
#menu-list li{
  margin-bottom:0;
  margin-top:0;
  .menu-item{
    margin-bottom:0;
    margin-top:0;
    cursor:pointer;
    cursor:hand;
    h2{
      margin:0;
    }
    .title-box h2{
      padding-top: 0.5em;
      height:3em;
    }
  }
}
ul{
  margin-left:0;
}

/*
* Icons
*/
.back-icon{
  display:none;
}
.title-box > .back-icon{
  background: url('icons/back-icon.svg') no-repeat 0.5em;
  display:block;
  height: 3em;
  width: 3em;
  padding-right: 1em;
}
.img-height-4em{
  height: 4em;
  width: auto;
  max-width:30%;
}

.cover-twothird .station-title{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 95%;
}

/*Route*/
.route-element{
  > img {
    max-height:5em;
  }
}

.nav-here{
  background: no-repeat url('icons/nav-here-icon.svg') !important;
  @include hide-text();
  width:3em;
  height:3em;
  margin-top: 0;
  margin-bottom: 0;
  border:none !important;
}

.btn-row{
  margin-right:auto;
  margin-left:auto;
  width:50%;
}
.nav-here:hover{
  background: no-repeat url('icons/nav-here-icon.svg') !important;
}
.nav-add{
  background: no-repeat url('icons/nav-add-icon.svg') !important;
  @include hide-text();
  width:3em;
  height:3em;
  margin-top: 0;
  margin-bottom: 0;
  border:none !important;
}
.nav-add:hover{
  background: no-repeat url('icons/nav-add-icon.svg') !important;
}
.nav-clear{
  background: no-repeat url('icons/nav-remove-icon.svg') !important;
  @include hide-text();
  width:3em;
  height:3em;
  margin-top: 0;
  margin-bottom: 0;
  border:none !important;
}
.nav-clear:hover{
  background: no-repeat url('icons/nav-remove-icon.svg') !important;
}
.nav-save{
  background: no-repeat url('icons/nav-save-icon.svg') !important;
  @include hide-text();
  width:3em;
  height:3em;
  margin-top: 0;
  margin-bottom: 0;
  border:none !important;
}
.nav-save:hover{
  background: no-repeat url('icons/nav-save-icon.svg') !important;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    text-indent: 0%;
    background-color: black;
    color: #fff;
    text-align: center;
    margin-left:-4em;
    padding: 1em 0;
    margin-top:1.5em;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
#validate-password{
  margin-top: 0;
}
#station-tooltip {
  .tooltip .tooltiptext{
    width:auto !important;
    max-width:80%;
    padding: 1em;
    float: left;
    left: 15%;
  }
  #lowerContainer .tooltip .tooltiptext{
    margin-top:-1.5em;
    margin-left:0;
    color:white;
  }
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
/*Anim*/
#map{
    width: 100% !important;
    height: 100vh;
    float: right;
    @include transition(width 0.5s);

    &.toggle{
      width: calc( 100% - 27em ) !important;
      @include transition(width 0.5s);
    }
}
.menu{
    left: -27em !important;
    @include transition(left 0.5s);
    &.toggle{
        left: 0em !important;
        @include transition(left 0.5s);
    }
}
.dialog{
  display:none;
  position: absolute;
  z-index: 2;
  background: white;
  left: calc( 50% - 20em );
  top: 5.5em;
  max-width: 40em;
  border:black 1px solid;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.21) !important;
}
.top-bar{
  width: 100%;
  height: 1.5em;
  border-bottom: 1px solid black;
}
.top-bar button{
  border: none;
}

#login-popup {
  float:left;
  padding: 1em;
  width: auto;
  max-width: 500px;
  visibility: visible;
  z-index: 999;
  width:40%;
}

.login-form {
  position: relative;
  visibility:hidden;
  margin: 100px;
  margin-right: 250px;
  z-index: 999;
}

#register-popup{
  float:left;
  padding: 1em;
  width: auto;
  visibility: visible;
  z-index: 999;
  border-left:black 1px solid;
  width:40%;
}
#logged-in{
  padding-left: 1em;
  z-index: 1;
  background: white;
}

/*
* Download indicator
*/
#download-progression{
  background: $color__white;
  position: fixed;
  z-index: 4;
  padding: 10px;
  height:1em;
  width: 13em;
  bottom:0;
  margin-left: calc( 50% - 7em);
  display:none;
}
#download-progression p{
    margin-top:0;
    margin-bottom:0;
    vertical-align: middle;
    align:center;
    text-align:center;
}
#download-progression h3 {
    text-align:center;
}

.dl-progressbar-bg{
    width:80%;
    height:2em;

    margin-left:auto;
    margin-right:auto;
}
.dl-progressbar{
    z-index: 5;
    height:2em;
    width:0%;
}

.dl-progressbar-bg p{
    z-index:6;
    margin-top:-1.5em;
    align:center;
    text-align:center;
}
.dl-progress-text{
    text-align:center;
}

.spinning{
    max-height:1em;
    max-width:1em;
}

.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}

.ui-autocomplete.ui-widget-content{
  z-index:200;
}
