/*Mobile layout*/
@media screen and (max-width:600px){
  html{
    background:black;
  }
  header{
    width:100%;
    min-width:100%;
    max-width:100%;
    position:relative;
  }
  .menu{
      left: -100% !important;
      @include transition(left 0.5s);
      &.toggle{
          left: 0em !important;
          @include transition(left 0.5s);
      }
  }
  #map{
    top: -0.3em;
    height: calc(100% - $size__menu-height);
    position:relative !important;
    width:100%;
  }

  nav{
    width: 100%;
  }

  footer{
    width:100%;
    left:0;
    bottom:0;
  }

  #download-progression{
    /*width: calc(100% - 1.6em) !important;*/
    left:0 !important;
  }

  /*Charger menu*/
  #chargers-nearby {
    height: 70vh;
    overflow-y: auto;
  }

  /*Tooltip*/
  .gm-style-iw{
    width:200% !important;
    min-width: 130% !important;
    max-width:130% !important;
    & > div{
      width: 100% !important;
    }
  }
  .gm-style .gm-style-iw{
    width:100% !important;
    height: auto !important;
  }
  #station-tooltip{
    height:auto !important;
  }
  #infoLeft{
    width:100% !important;
    height:50% !important;
  }
  #chargingPoints {
    width:100% !important;
    max-height: 12em !important;
    float:right;
    &> div{
      overflow-y: scroll;
      max-height: 10em !important;
    }
  }

  .iw-close-btn{
    display:none;
  }

  /*Dialogs and login*/
  .dialog{
    display:none;
    position: absolute;
    top: 5.5em;
    left: 1%;
    max-width: 98%;
    border:black 1px solid;
  }
  #login-popup{
    width:90%;
  }
  #register-popup{
    border-left:none;
    border-top:black 1px solid;
    width:90%;
  }
}
