#download-progression{
    position: fixed;
    z-index: 4;
    padding: 10px;
    height:1em;
    width: 13em;
    bottom:0;
    margin-left: calc( 50% - 7em);
    display:none;
}
#download-progression p{
    margin-top:0;
    margin-bottom:0;
    vertical-align: middle;
    align:center;
    text-align:center;
}
#download-progression h3 {
    text-align:center;
}

.dl-progressbar-bg{
    width:80%;
    height:2em;

    margin-left:auto;
    margin-right:auto;
}
.dl-progressbar{
    z-index: 5;
    height:2em;
    width:0%;
}

.dl-progressbar-bg p{
    z-index:6;
    margin-top:-1.5em;
    align:center;
    text-align:center;
}
.dl-progress-text{
    text-align:center;
}

.spinning{
    max-height:1em;
    max-width:1em;
}
