#download-progression{
    position: fixed;
    z-index: 4;
    right: 0px;
    border: 3px solid;
    padding: 10px;

    width: 20%;
    left:40%;
    bottom:40%;

    display:none;
}
#download-progression h3 {
    text-align:center;
}

.dl-progressbar-bg{
    width:80%;
    height:2em;

    margin-left:auto;
    margin-right:auto;
}
.dl-progressbar{
    z-index: 5;
    height:2em;
    width:0%;
}

.dl-progressbar-bg p{
    z-index:6;
    margin-top:-1.5em;
    align:center;
    text-align:center;
}
.dl-progress-text{
    text-align:center;
}
