footer{
    z-index: 99;
    position:fixed;
    background: #2a3392;
    width:20%;
    bottom:0;
    left:40%;
}
footer a{
    color:black;
}

/*Mobile*/
@media screen and (max-width:600px){
    footer{
        width:100%;
        left:0;
        bottom:0;
    }
}