/*iOS*/
html{
    background:black;
}
header{
    margin-top: 20px;/*iPhone sin statusbar er 20px høy*/
}
header.toggle {
    height: calc( 100% - 20px);
    max-height: calc( 100% - 20px);
}
#map{
    margin-top: 6em;
    height: calc(100% - 6em);
}
#search {
    width: 80%;
}

#search input {
    width: auto;
}

#my-loc-btn {
    float: right;
}
