/*iOS*/
html{
    background:black;
}

header.toggle {
    height: calc( 100vh - 20px);
    max-height: calc( 100vh - 20px);
}

#search {
    width: 75% !important;
}

#search input {
    width: 70% !important;
}

#my-loc-btn {
    float: right !important;
    max-width:19% !important;
}
@media screen and (max-width:600px) {
    /*Incase we wish to differentiate between the iPad and iPhone design*/
    header{
        margin-top: 20px;/*iPhone sin statusbar er 20px høy*/
    }
    #map{
        margin-top: 6em;
        height: calc(100% - 6em);
    }
    /*Charger menu*/
    #chargers-nearby {
        height: 22em;
        overflow-y: auto;
    }
    .gm-style-iw{
        width:200% !important;
        min-width: 130% !important;
        max-width:130% !important;
    }
    .gm-style-iw > div{
        width: 100% !important;
    }
    .gm-style .gm-style-iw{
        width:100% !important;
    }
    #infoLeft{
        width:100% !important;
        height:50% !important;
    }
    #chargingPoints {
        width:100% !important;
        max-height:50% !important;
        float:right;
    }
    #chargingPoints > div{
        overflow-y: scroll;
        height: 12vh;
    }
}
@media screen and (min-width: 601px){
    #map{
        margin-top: 20px;
        height: calc( 100vh - 20px );
    }
}


