/*iOS*/
html,body {
    background:black;
    height: auto;
}

#my-loc-btn {
    float: right !important;
    max-width:19% !important;
}
@media screen and (max-width:600px) {
    /*Incase we wish to differentiate between the iPad and iPhone design*/
    header{
        margin-top: 20px;/*iPhone sin statusbar er 20px høy*/
    }
    nav{
        top: calc(5em + 20px);
        height:calc(100vh - 5em - 20px);
    }
    #map{
        height: calc(100vh - 5.4em - 20px);
    }
    /*Charger menu*/
    #chargers-nearby {
        overflow-y: auto;
    }
    .gm-style-iw{
        min-width: 130% !important;
        max-width:130% !important;
    }
    .gm-style-iw > div{
        width: 100% !important;
    }
    .gm-style .gm-style-iw{
        width:100% !important;
    }

    #infoLeft{
        width:100% !important;
        height:9em !important;
    }
    #chargingPoints {
        width:100% !important;
        max-height:50% !important;
        float:right;
        clear:both;
        height:10em;
        padding-bottom:4em;
    }
    #chargingPoints > div{
        overflow-y: scroll;
        height: 10em;
    }
    #lowerContainer{
        clear:both;
    }
}
@media screen and (min-width: 601px){
    nav{
        top:calc(5em + 20px);
        height:calc(100vh - 5em - 20px);
    }
    #map{
        margin-top: 20px;
        height: calc( 100vh - 20px );
    }
}
