#login-popup {
    position: absolute;
    padding: 20px;
    width: auto;
    max-width: 500px;
    top:0;
    left:45%;
    /*margin: 150px auto;
    margin-left: 250px;*/
    visibility: visible;
    z-index: 999;
    display: none;

}

.login-form {
    position: relative;
    visibility:hidden;
    margin: 100px;
    margin-right: 250px;
    z-index: 999;


}

#register-popup{
    position: absolute;
    padding: 20px;
    width: auto;
    max-width: 500px;
    top:0;
    left:45%;
    /*margin: 150px auto;
    margin-left: 250px;*/
    visibility: visible;
    z-index: 999;
    display: none;

}

@media screen and (max-width:600px){
    #login_popup{
        top:30%;
        left:30%;
    }
    #register_popup{
         top:30%;
         left:30%;
     }
}