header{
    z-index: 1;
    position:absolute;
    width:27em;
    border-bottom:1px gray solid;
}

div#title h1{
    float:left;
    padding-left:1.5em;
    background:url(../icons/logo.svg) no-repeat;
    width:100%;
    margin: 0.3em 0.3em 0.3em 1em;
}
div#title button{
    width:10%;
    float:left;
}

div#title-login {
    float:right;
}
div#title-login h1{
    float:left;
}
/*
    Menu elements
*/

.title-box {
    background: url('../icons/back-icon.svg') no-repeat 0.5em;
    padding: 0.7em 0 0.7em 3.2em;
    margin-left: -0.7em;
    border: 1px;
    float: left;
    width: 100%;
}

.title-box h1{
    margin:auto;
}

#right-panel{
    overflow:auto;
    max-height: 20em;
}
div#title-login button.show-login {
    float:right;
    margin-right:0;
}
nav{
    width:100%;
    display:none;
    clear:both;
}
nav ul{
    margin-left:-2.5em;
}

nav li{
    list-style:none;
    padding:1em;
}
nav ul li ul{
    margin-left:-2.8em;
}
/*Child menu element spesific*/
/*nav ul li ul*/
.sub-item{
    display:none;
}
/*On toggle*/
header.toggle nav{
    display:block;
    overflow:auto;
    max-height:85%;
}
header.toggle{
    height:100%;
}
.toggle{
    display:block;
}

/*
    Buttons
*/
button#menu-toggle{
    float:left;
    background: url(../icons/hamburger_v2.svg) no-repeat transparent;
    border-style:none;
    width:3em;
    height:2em;
}

/*
    Select input
*/
select{
    width:100%;
}
.cover-third{
    width:33%;
}
.cover-twothird{
    width:66%;
}
.cover-twothird input{
    width:100%;
}

/*source = https://proto.io/freebies/onoff/*/
.onoffswitch {
    position: relative; width: 40px;
    float:right;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 14px; padding: 0; line-height: 14px;
    border: 2px solid #FFFFFF; border-radius: 14px;
    background-color: #9E9E9E;
    transition: background-color 0.3s ease-in;

}
.onoffswitch-label:before {
    content: "";
    display: block; width: 14px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 24px;
    border: 2px solid #FFFFFF; border-radius: 14px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #42A5F5;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #42A5F5;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
}

/*
    Search
*/
#search{
    margin: 0.5em 0 0.5em 10%;
    width:auto;
    float:left;
}

/*
* Route options
*/
.route-options ul li{
    padding: 0.5em 0 0.5em 0;
}
/*
    General
*/
.border{
    border-bottom:1px gray solid;

}

.clear-both{
    clear:both;
    width:100%;
}
#right-panel{
    background:white;
}
.menu-item{
    margin-bottom:0;
    margin-top:0;
    cursor:pointer;
    cursor:hand;
}
ul{
    margin-left:0;
}
.no-padding{
    padding:0 0 0 1em;
}
.float-left{
    float:left;
}