header{
    z-index: 1;
    position:absolute;
    background: #2a3392;
    width:27em;
}
div#title{
    margin:1em 0 0 0.5em;
    clear:both;
}
div#title h1{
    width:70%;
    float:left;
    margin:0 0 0 0.3em;
    padding-left:1.5em;
    background:url(../icons/icon_v2.svg) no-repeat;
}
div#title button{
    width:10%;
    float:left;
}
div#title-login {
    float:right;
}
div#title-login h1{
    float:left;
}
/*
    Menu elements
*/
#right-panel{
    overflow:auto;
    max-height: 20em;
}
div#title-login button.show-login {
    float:right;
    margin-right:0;
}
nav{
    width:100%;
    display:none;
    clear:both;
}
nav ul{
    margin-left:-2.5em;
}

nav li{
    list-style:none;
    border:1px black solid;
    padding:1em;
}
nav ul li ul{
    margin-left:-2.8em;
}
/*Child menu element spesific*/
nav ul li ul.sub-item{
    display:none;
}
/*On toggle*/
header.toggle nav{
    display:block;
    overflow:auto;
}
header.toggle{
    height:100%;
}
nav ul li ul.toggle{
    display:block;
}

/*Mobile*/
@media screen and (max-width:600px){
    header{
        width:100%;
        min-width:100%;
        max-width:100%;
    }
    header.toggle{
        height:100%;
    }
}
.float-left{
    float:left;
}

/*
    Text
*/
h1,h2,h3,h4,p,a,li{
    padding-left:1em;
    color:white;
}

.menu-item{
    margin-bottom:0;
    margin-top:0;
}

/*
    Buttons
*/
button#menu-toggle{
    float:left;
    background-image: url(../icons/burger-menu.svg);
    background-repeat: no-repeat;
    background-color:transparent;
    border-style:none;
    width:3em;
    height:3em;
}

/*
    Select input
*/
select{
    width:100%;
}
.cover-third{
    width:33%;
}
.cover-twothird{
    width:66%;
}
.cover-twothird input{
    width:100%;
}
/*
    Search
*/
#search{
    margin: 0.5em 0 0.5em 10%;
    width:auto;
    float:left;
}

/*
    General
*/
.clear-both{
    clear:both;
    width:100%;
}
