#login_popup {
    position: absolute;
    background: cadetblue;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 150px auto;
    margin-left: 250px;
    visibility: visible;
    z-index: 999;
}

.login_form {
    position: relative;
    visibility:hidden;
    margin: 100px;
    margin-right: 250px;
    z-index: 999;

}

#register_popup{
    position: absolute;
    background: cadetblue;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 150px auto;
    margin-left: 250px;
    visibility: visible;
    z-index: 999;
}